* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Verdana, sans-serif;
}

/* Header Styling Start */
header {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgb(0, 0, 0);
}

header svg {
    margin-left: 40px;
}

.icons {
    display: flex;
    margin-right: 2rem;
}

.icons li {
    list-style: none;
}

.fa-solid {
    color: white;
}
/* Header Styling Finish */

/* Hero Styling Start */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0), #000), url(./pictures/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
    /* background-image: url(./pictures/arthur-smouk-A8Ipu4sdsM0-unsplash.jpg); */
    background-size: 100vh 100vw;
    /* background-position: 60% 69%; */
    background-repeat: no-repeat;
    background-color: black;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    color: white;
    font-size: 5rem;
    padding-bottom: 15px;
}

.hero .intro-h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 45px;
}

.button {
    background-color: #74475C;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 40px 8px 40px;
    font-size: 2.5rem;
}

.intro {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Hero Styling End */

/********************/

/* About Styling Start*/
.about {
    background-color: white;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 3rem 3em 3rem 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /*background-image: url(./pictures/1KJdev.png);*/
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.about-h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: black;
}

.about p {
    align-self: flex-start;
    font-size: 1.9rem;
    font-weight: 100;
    color: black;
}

.about img {
    height: 50%;
    width: 80%;
}

.about ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.about li {
    list-style: none;
    background-color: black;
    color: white;
    width: 8rem;
    height: 8rem;
    margin: 2rem 1rem 2rem 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 7rem;
    font-size: 1.4rem;
}

.about li:hover {
    box-shadow: #74475C;
}

/* About Styling End*/

.portfolio {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.portfolio h2 {
    color: white;
    font-size: 4rem;
    padding: 3rem;

}

.portfolio_cards {
    background-color: green;
    height: 300px;
    width: 300px;
}

.contact {
    background-color: green;
}

footer {
    background-color: grey;
}