* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Verdana, sans-serif;
}

/* Header Styling Start */
header {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    height: 5vh;
    width: 100%;
}

.icons {
    display: flex;
}

.icons li {
    list-style: none;
    margin-right: 2rem;
}

.fa-solid {
    color: white;
}
/* Header Styling Finish */

/* Hero Styling Start */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0), #000), url(./pictures/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
    /* background-image: url(./pictures/arthur-smouk-A8Ipu4sdsM0-unsplash.jpg); */
    background-size: 100vh 100vw;
    /* background-position: 60% 69%; */
    background-repeat: no-repeat;
    background-color: black;
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    color: white;
    font-size: 5rem;
    padding-bottom: 4rem;
}

.hero .intro-h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 4rem;
    
}

.button {
    background-color: #74475C;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 40px 8px 40px;
    font-size: 2.5rem;
}

.intro {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
}

/* Hero Styling End */

/********************/

/* About Styling Start*/
.about {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 3rem 3em 3rem 3rem;
    margin-bottom: 5rem;
    /*background-image: url(./pictures/1KJdev.png);*/
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.about-h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-size: 5rem;
    color: #BF7396;
}

.about p {
    align-self: flex-start;
    font-size: 1.9rem;
    font-weight: 100;
    color: black;
}

.about img {
    height: 50%;
    width: 80%;
}

.about ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.about li {
    list-style: none;
    background-color: black;
    color: white;
    width: 8rem;
    height: 8rem;
    margin: 2rem 1rem 2rem 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 7rem;
    font-size: 1.4rem;
}

.about li:hover {
    background-image: linear-gradient(#BF7396, #f1f1f1, #F2A7A0);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: none;
    color: black;
    font-weight: bold;
}

/* About Styling End*/

/********************/

/* Portfolio Styling Start*/

.portfolio {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.portfolio h2 {
    color: white;
    font-size: 5rem;
    padding: 3rem;
    text-align: center;

}

.portfolio_cards {
    background-color: white;
    height: 300px;
    width: 300px;
}

.portfolio_cards img {
    width: 100%;
    height: 100%;
}

.contact h2::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    left: 0;
    top: 0;
    position: absolute;
}
.contact {
    background-color: black;
    height: 100vh;
    color: white;
}

.contact h2 {
    font-size: 5rem;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact p {
    padding-bottom: 3rem;
}

.contact li {
    list-style: none;
    margin-right: 2rem;
}

.git {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.linkedin {
    display: flex;
    align-items: center;
}


footer {
    background-color: grey;
    text-align: center;
}